h1,
h2 {
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 50px;
}


body {
    font-family: 'Alef', sans-serif;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    width: 15%;
    height: auto
}

.dames {
    width: 20%;
    height: auto;
}

.monopoly {
    width: 20%;
    height: auto;
}

.jeu {
    width: 20%;
    height: auto;
}

.othello {
    width: 20%;
    height: auto;
}

.présentation {
    text-align: center;
}


header {
    background-color: blanchedalmond;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    border: double;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    flex-grow: 1;
    font-size: x-large;
}

footer {
    background-color: blanchedalmond;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    border : double
}

.icone {
    display: flex;
    margin-left: auto;
}

.horaires {
    display: flex;
    margin-left: auto;
}