h1,
h2 {
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 5em

}

body{
    font-family: 'Alef', sans-serif;
    
}

.logo {
    width: 15%;
    height: auto
}

.dames {
    width: 20%;
    height: auto;
}

.monopoly {
    width: 20%;
    height: auto;
}

.jeu {
    width: 20%;
    height: auto;
}

.othello {
    width: 20%;
    height: auto;
}

.jeux {
    text-align: center;
}

.accueil {
    text-align: center;
    margin-top: 10%;
}

.soirées {
    text-align: end;
    margin-top: auto;
}

header {
    background-color: blanchedalmond;
}

footer {
    background-color: blanchedalmond;
}

.facebook {
    align-items: end;
}
