h1,h2{
font-weight: bold;
}

h1{
    text-align: center;

}

body{
    font-family: @import url(https://fonts.bunny.net/css);
}
.logo{
    width: 15%;
    height: auto
}
.dames{
    width: 20%;
    height: auto;
}
.monopoly{
    width: 20%;
    height: auto;
}
.jeu{
    width: 20%;
   height: auto;
}
.othello{
    width: 20%;
    height: auto;
}
.jeux{
    text-align: center;
}
.accueil{
   text-align: center;
   margin-top: 10%;
}
.soirées{
    text-align: end;
    margin-top: auto;
}
